/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

div.card-header {
  font-size: large;
 }

 div.card {
   margin-top: 10px
 }

 .table {
   margin-top: 10px
 }
 .curriculum-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 350px));
  justify-content: left;
  row-gap: 10px;
  column-gap:50px;

}
.curriculum-grid-item{
  display: flex;
  align-items: center;

}

